<footer>
    <div class="footer-content">
        <div class="navigation">
            <div class="container-fluid">
                <div class="col-md-3 col-sm-6 item" routerLinkActive="active"><a [routerLink]="['/curriculo']"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Curriculo</a></div>
                <div class="col-md-3 col-sm-6 item" routerLinkActive="active"><a [routerLink]="['/areas-de-actividade']"><i class="fa fa-briefcase" aria-hidden="true"></i>Áreas de Actividade</a></div>
                <div class="col-md-3 col-sm-6 item" routerLinkActive="active"><a [routerLink]="['/publicações']"><i class="fa fa-book" aria-hidden="true"></i>Publicações</a></div>
                <div class="col-md-3 col-sm-6 item" routerLinkActive="active"><a [routerLink]="['/contactos']"><i class="fa fa-phone" aria-hidden="true"></i>Contacto</a></div>
            </div>
        </div>
        <div class="contacts">
            <div class="container-fluid">
                <div class="pull-left">César Pires - Advogado</div>
                <div class="pull-right">
                    <span class="phone">Tel.: (+351) 91 90 03 008</span>
                    <span class="hidden-xs"> /</span>
                    <span class="email">E-mail: <a href="mailto:cesarpires-10865p@adv.oa.pt">cesarpires-10865p@adv.oa.pt</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>