/** Colors **/
$main-color: #632e44;
$white: #FFF;
$light-grey: #c2c2c2;
$dark-grey: #333;
$border-color: #e7e7e7;
$nav: #777;
$nav-hover: $dark-grey;
$nav-active: #741b47;

$link: #337ab7;
$link-hover: #23527c;


/** Fonts **/
$primary-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
$title-font: "font-family: 'IBM Plex Serif', serif;";
$font-size: 16px;
