<div id="home">
    <section>
        <h2>Bem-vindo</h2>
        <div class="welcome-image">
            <img src="images/Cesar.jpg" alt="César Manuel Ferreira Pires" class="img-thumbnail img-responsive">
        </div>
        <div class="welcome-message">
            <p class="text-justify">
                César Pires é Licenciado e Mestre em Direito, Pós-graduado em Direito Bancário, da Bolsa e Seguros e atualmente exerce na
                Póvoa de Varzim.
            </p>
            <p class="text-justify">
                César Pires é, também, docente na Universidade Lusófona do Porto (onde leciona Teoria Geral do Direito Civil, Direito Comercial,
                Direito das Sociedades Comerciais e Direito Internacional Privado), Juiz-árbitro no Tribunal Arbitral de
                Consumo, membro do GITUR-Grupo de Investigação em Turismo (IPL-Instituto Politécnico de Leiria) e do Conselho
                Coordenador do ONAT-Observatório Nacional das Atividades de Animação Turística e formador certificado (IEFP)
                na área do Direito.
            </p>
        </div>
        <div class="clearfix"></div>
    </section>
    <section>
        <h2>Noticias</h2>
    </section>
</div>